.container {
  height: 170px;
  border-top: 1px solid #C4C4C4;
}

.toolBar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}

.tools {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.brushSize {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.brushSize input {
  width: 300px;
}

.title {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}

.title input {
  width: 300px;
}

.controlBtn {
  display: flex;
  justify-content: center;
}